/* dosis-300 - latin */
@font-face {
  font-family: 'Dosis Light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/dosis-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/dosis-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dosis-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/dosis-v19-latin-300.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/dosis-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/dosis-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dosis-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/dosis-v19-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis 500';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/dosis-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/dosis-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dosis-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/dosis-v19-latin-500.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/dosis-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/dosis-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dosis-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/dosis-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/dosis-v19-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/open-sans-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/open-sans-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/open-sans-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/open-sans-v20-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/open-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/open-sans-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/open-sans-v20-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}