/* dosis-300 - latin */
@font-face {
  font-family: 'Dosis Light';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/dosis-v19-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dosis-v19-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dosis-v19-latin-300.woff2") format("woff2"), url("../assets/fonts/dosis-v19-latin-300.woff") format("woff"), url("../assets/fonts/dosis-v19-latin-300.ttf") format("truetype"), url("../assets/fonts/dosis-v19-latin-300.svg#Dosis") format("svg");
  /* Legacy iOS */
}

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/dosis-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dosis-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dosis-v19-latin-regular.woff2") format("woff2"), url("../assets/fonts/dosis-v19-latin-regular.woff") format("woff"), url("../assets/fonts/dosis-v19-latin-regular.ttf") format("truetype"), url("../assets/fonts/dosis-v19-latin-regular.svg#Dosis") format("svg");
  /* Legacy iOS */
}

/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/dosis-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dosis-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dosis-v19-latin-700.woff2") format("woff2"), url("../assets/fonts/dosis-v19-latin-700.woff") format("woff"), url("../assets/fonts/dosis-v19-latin-700.ttf") format("truetype"), url("../assets/fonts/dosis-v19-latin-700.svg#Dosis") format("svg");
  /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/open-sans-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v20-latin-300.woff2") format("woff2"), url("../assets/fonts/open-sans-v20-latin-300.woff") format("woff"), url("../assets/fonts/open-sans-v20-latin-300.ttf") format("truetype"), url("../assets/fonts/open-sans-v20-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/open-sans-v20-latin-regular.woff") format("woff"), url("../assets/fonts/open-sans-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/open-sans-v20-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v20-latin-700.woff") format("woff"), url("../assets/fonts/open-sans-v20-latin-700.ttf") format("truetype"), url("../assets/fonts/open-sans-v20-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 1440px;
  position: relative;
  overflow-x: hidden;
  font-family: "Open Sans Regular";
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1026px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 1440px;
}

.title {
  font-family: "Open Sans Regular";
  font-size: 55px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.flex_aline-center {
  align-items: center;
}

.flex_content-center {
  justify-content: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_column {
  flex-direction: column;
}

.flex_column-revers {
  flex-direction: column-reverse;
}

.flex_between {
  justify-content: space-between;
}

.buttons {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans Bold";
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.buttons_yellow {
  background-color: #E8C300;
}

.buttons_left-40 {
  margin-left: 40px;
}

.top-ban {
  color: #FFFFFF;
  font-family: "Open Sans Regular";
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background: url("../../assets/images/top-banner/top_banner-bg.png");
}

.nav {
  min-width: 100%;
  display: flex;
}

.nav__left {
  width: 442px;
  height: 100px;
  margin-left: 128px;
}

.nav__left ul {
  display: flex;
  justify-content: space-between;
  font-weight: "Open Sans Bold";
  font-size: 12px;
  line-height: 18px;
  margin-top: 44px;
}

.nav__left li a {
  color: #FFFFFF;
}

.nav__logo {
  width: 150px;
  height: 150px;
  margin: 25px 75px 0;
}

.nav__right {
  width: 442px;
  height: 100px;
}

.nav__right ul {
  display: flex;
  justify-content: space-between;
  font-weight: "Open Sans Bold";
  font-size: 12px;
  line-height: 18px;
  margin-top: 44px;
}

.nav__right li a {
  color: #FFFFFF;
}

.ban__schedule {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-weight: "Open Sans Bold";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 159px 0 0 84px;
  display: flex;
  justify-content: flex-end;
}

.ban__main {
  text-align: center;
  margin-top: 153px;
}

.top__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.ban__title {
  font-family: "Dosis Bold";
  font-style: normal;
  font-size: 96px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ban__line {
  width: 60px;
  height: 5.11px;
  margin-bottom: 30px;
  background: #E8C300;
  border-radius: 50px;
}

.ban__buttons {
  display: flex;
  margin-bottom: 92px;
}

.ban__social {
  margin: 162px 77px 0 0;
}

.instagram {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: #FFFFFF;
}
