$color-black: #000000;
$color-white: #FFFFFF;
$color-corn: #E8C300;
$color-mine: #333333;

$s-font-regular: 'Open Sans Regular';
$s-font-light: 'Open Sans Light';
$s-font-bold: 'Open Sans Bold';
$font-family: $s-font-regular, sans-serif;

$d-font-regular: 'Dosis Regular';
$d-font-light: 'Dosis Light';
$d-font-bold: 'Dosis Bold';
$font-family: $d-font-regular, sans-serif;
