.book-table__content {
  width: 570px;
  height: 360px;
  margin: 163px 0 0 60px;
}

.book-table__title {
  font-size: 36px;
  line-height: 48px;
  font-family: $d-font-bold;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 20px;
}

.book-table__line {
  margin-bottom: 20px;
}

.table__input__wrapper {
  width: 568px;
  height: 275px;
}

.table__input-100 {
  width: 568px;
  height: 60px;
  background-color: $color-corn;
}

.table__input-50::placeholder {
  font-family: $s-font-regular;
  font-size: 14px;
  line-height: 19px;
  padding-left: 20px;
}

.table__input-100::placeholder {
  font-family: $s-font-regular;
  font-size: 14px;
  line-height: 19px;
  color:$color-white;
}

.input__form__arrow__people {
  width: 10px;
  height: 10px;
  border-top: 3px solid $color-gray;
  border-right: 3px solid $color-gray;
  transform: rotate(135deg);
  position: absolute;
  margin: 90px 0 0 535px;
}

.input__form__arrow__time {
  width: 10px;
  height: 10px;
  border-top: 3px solid $color-gray;
  border-right: 3px solid $color-gray;
  transform: rotate(135deg);
  position: absolute;
  margin: 155px 0 0 535px;
}

.book-a-table__img-bg {
  background: url("../../assets/images/book-a-table/book-a-table-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0 0 23px;
}

.book-a-table__frame {
  margin: 174px 0 0 390px;
}

.book-table__bottom__title {
  font-size: 12px;
  line-height: 12px;
  font-family: $s-font-bold;
  color: $color-mine;
  opacity: .5;
  width: 100%;
  margin-bottom: 45px;
}
