.interior {
  width: 100%;
}

.interior__photo-1 {
  width: 360px;
  height: 360px;
  background: url("../../assets/images/interior/1.png");
}

.interior__photo-2 {
  width: 360px;
  height: 360px;
  background: url("../../assets/images/interior/2.png");
}

.interior__photo-3 {
  width: 360px;
  height: 360px;
  background: url("../../assets/images/interior/3.png");
}

.interior__photo-4 {
  width: 360px;
  height: 360px;
  background: url("../../assets/images/interior/4.png");
}